@using ProjectManager.Web.Models.Projects;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Projects";
}
@model AllProjectsDetailsHttpGetModel
<section class="section">
    <div class="card">
        <div class="card-header">
            Projects control panel
            <button type="button" class="btn btn-outline-primary block float-end" data-bs-toggle="modal" data-bs-target="#addProjectModal">
                Add Project
            </button>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Involved Developers</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prj in Model.ProjectsList)
                    {
                        <tr>
                            <td id="prjName-@prj.Id">@prj.Name</td>
                            <td id="prjDesc-@prj.Id">@prj.ProjectSubject</td>
                            <td id="prjDevs-@prj.Id">
                                <button type="button" id="listOfDevs" data-project="@prj.Id" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    List of Developers
                                </button>
                                <div class="dropdown-menu" id="devListOptions-@prj.Id" name="dropdown-container" style="margin: 0px; overflow-y: scroll; height:auto; max-height: 200px;">
                                    <p class="dropdown-item">None</p>
                                </div>
                            </td>
                            <td>
                                <a href="#" id="editProject" class="btn icon icon-left btn-info" style="width: 100%; margin: 1px" data-project="@prj.Id" data-bs-toggle="modal" data-bs-target="#editProjectModal">Edit</a>
                                <a href="#" id="deleteProject" class="btn icon icon-left btn-danger" style="width: 100%; margin: 1px" data-project="@prj.Id" data-bs-toggle="modal" data-bs-target="#deleteQuestion">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <ul class="pagination pagination-primary  justify-content-center">
                @if (Model.PageViewModel.HasPreviousPage)
                {
                    <li class="page-item ">
                        <a asp-action="List"
                           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                           class="page-link">
                            Previous
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a asp-action="List"
                           asp-route-page="@(Model.PageViewModel.PageNumber)"
                           class="page-link" >
                            Previous
                        </a>
                    </li>
                }
                @for (var page = 1; page <= Model.PageViewModel.TotalPages; page++)
                {
                    @if (page == Model.PageViewModel.PageNumber)
                    {
                        <li class="page-item active"><a class="page-link" asp-action="List" asp-route-page="@(page)">@(page)</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" asp-action="List" asp-route-page="@(page)">@(page)</a></li>
                    }
                }
                @if (Model.PageViewModel.HasNextPage)
                {
                    <li class="page-item ">
                        <a asp-action="List"
                           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                           class="page-link">
                            Next
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled" >
                        <a asp-action="List"
                           asp-route-page="@(Model.PageViewModel.PageNumber)"
                           class="page-link">
                            Next
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>


</section>

@*Create entry modal*@
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="AddModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddModalTitle">
                    Add Project
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="inputProjectName" type="text" placeholder="Project name" class="form-control">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="inputProjectDescription" rows="5" placeholder="Input project description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button id="newPrjSubmit" type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Create</span>
                </button>
            </div>
        </div>
    </div>
</div>

@*Edit project modal*@
<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalTitle">
                    Edit Project
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="editProjectName" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="editProjectDescription" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button id="editPrjSubmit" type="submit" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>

@*DeleteEntryModal*@
<div class="modal fade text-left" id="deleteQuestion" tabindex="-1" aria-labelledby="deletionModalHeader" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="deletionModalHeader">
                    Are you sure?
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                You are about to delete project <h6 id="pNameConfirm"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal" id="cancelDelete">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button type="button" class="btn btn-danger ml-1" id="confirmDelete">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/projects-list.js"></script>
}