@using ProjectManager.Web.Models.Developers;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Developers";
}
@model AllDevelopersDetailsHttpGetModel
<section class="section">
    <div class="card">
        <div class="card-header">
            Developers control panel
            <button type="button" class="btn btn-outline-primary block" data-bs-toggle="modal" data-bs-target="#addDeveloperModal">
                Add Developer
            </button>
        </div>
        <div class="card-body">
            <table class="table table-striped" id="listDevelopers">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E-Mail</th>
                        <th>Phone</th>
                        <th>In Projects</th>
                        <th>Controls</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dev in Model.DevelopersList)
                    {
                        <tr>
                            <td id="devFName-@dev.Id">@dev.FirstName</td>
                            <td id="devLName-@dev.Id">@dev.LastName</td>
                            <td id="devEMail-@dev.Id">@dev.EMail</td>
                            <td id="devPhone-@dev.Id">@dev.Phone</td>
                            <td>
                                <button type="button" onclick="prjListShow()" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    List of projects
                                </button>
                                <div class="dropdown-menu" id="prjListOptions" style="margin: 0px;">
                                    <p class="dropdown-item">Option 1</p>
                                </div>
                            </td>
                            <td>
                                <button id="editDeveloper" class="btn icon icon-left btn-info" onclick="modalData(@dev.Id); dataPreview(@dev.Id)" data-bs-toggle="modal" data-bs-target="#editDeveloperModal">Edit</button>
                                <button id="deleteDeveloper" class="btn icon icon-left btn-danger" onclick="modalData(@dev.Id); confirmInfo();" data-bs-toggle="modal" data-bs-target="#deleteQuestion">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
@*Create entry modal*@
<div class="modal fade" id="addDeveloperModal" tabindex="-1" aria-labelledby="CreateModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateModalTitle">
                    Create Developer
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="inputFirstName" type="text" placeholder="First Name" class="form-control">
                </div>
                <div class="form-group">
                    <input id="inputLastName" type="text" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-group">
                    <input id="inputEmail" type="text" placeholder="E-Mail" class="form-control">
                </div>
                <div class="form-group">
                    <input id="inputPhone" type="text" placeholder="Phone" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button id="newDevSubmit" type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Create</span>
                </button>
            </div>
        </div>
    </div>
</div>

@*Edit entry modal*@
<div class="modal fade" id="editDeveloperModal" tabindex="-1" aria-labelledby="EditModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalTitle">
                    Edit Developer
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input id="editFirstName" type="text" placeholder="First Name" class="form-control">
                </div>
                <div class="form-group">
                    <input id="editLastName" type="text" placeholder="Last Name" class="form-control">
                </div>
                <div class="form-group">
                    <input id="editEmail" type="text" placeholder="E-Mail" class="form-control">
                </div>
                <div class="form-group">
                    <input id="editPhone" type="text" placeholder="Phone" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button id="editDevSubmit" type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Edit</span>
                </button>
            </div>
        </div>
    </div>
</div>

@*DeleteEntryModal*@
<div class="modal fade text-left" id="deleteQuestion" tabindex="-1" aria-labelledby="deletionModalHeader" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title white" id="deletionModalHeader">
                    Are you sure?
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                You are about to delete developer <h6 id="fullNameConfirm"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal" id="cancelDelete">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cancel</span>
                </button>
                <button type="button" class="btn btn-danger ml-1" id="confirmDelete" onclick="delDev()">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#newDevSubmit").click(function (e) {
                var firstName = $('#inputFirstName').val();
                var lastName = $('#inputLastName').val();
                var eMail = $('#inputEmail').val();
                var phone = $('#inputPhone').val();

                var data = {
                    FirstName: firstName,
                    LastName: lastName,
                    Email: eMail,
                    Phone: phone,
                }
                var jsonData = JSON.stringify(data);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AjaxDevPost", "Developers")',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: jsonData,
                    success: function () {
                        location.reload();
                    }
                });
            });
            $("#editDevSubmit").click(function (e) {
                var firstName = $('#editFirstName').val();
                var lastName = $('#editLastName').val();
                var eMail = $('#editEmail').val();
                var phone = $('#editPhone').val();

                var data = {
                    Id: Id,
                    FirstName: firstName,
                    LastName: lastName,
                    Email: eMail,
                    Phone: phone,
                }
                var jsonData = JSON.stringify(data);
                $.ajax({
                    type: "PUT",
                    url: '@Url.Action("AjaxDevEdit", "Developers")',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: jsonData,
                    success: function () {
                        location.reload();
                    }
                });
            });
        });
        var Id;
        function modalData(id) {
            Id = id;
        }
        function confirmInfo() {
            document.getElementById("fullNameConfirm").innerHTML = document.getElementById("devFName-" + Id).innerHTML + " " + document.getElementById("devLName-" + Id).innerHTML;
        }
        function delDev() {
            var link = '@Url.Action("AjaxDeleteDev", "Developers")';
            link = link + "?id=" + Id;
            $.ajax({
                url: link,
                dataType: "json",
                type: "DELETE",
                contentType: 'application/json'
            });
            setTimeout(location.reload.bind(location), 300);
        }
        function dataPreview(id) {
            var devFName = "devFName-" + id;
            var devLName = "devLName-" + id;
            var devEMail = "devEMail-" + id;
            var devPhone = "devPhone-" + id;
            document.getElementById("editFirstName").value = document.getElementById(devFName).innerHTML;
            document.getElementById("editLastName").value = document.getElementById(devLName).innerHTML;
            document.getElementById("editEmail").value = document.getElementById(devEMail).innerHTML;
            document.getElementById("editPhone").value = document.getElementById(devPhone).innerHTML;
        }
        function prjListShow(){
            $.ajax({
                type: "GET",
                url: '@Url.Action("AjaxGetAllProjects", "Projects")',
                dataType: 'json',
                contentType: 'application/json',
                success: function (returnedData) {
                    var data = returnedData.d;
                    for (var item in data) {
                        console.log(JSON.stringify(data[i]));
                        $("#prjListOptions").append('<p class="dropdown-item">' + data[item].Name + '</p>')
                    }
                },
            });
            }
    </script>
}
